* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.submit-btn {
  margin-top: 4rem;
  margin-bottom: -2rem;
  text-transform: uppercase;
  font-size: 15px;
  padding: 1rem 2rem;
  border-radius: 25px;
  border: 1px solid rgb(255, 222, 173);
  background-color: rgb(255, 222, 173);
  color: black;
  font-weight: bold;
  transition: all ease-in-out 300ms;
  cursor: pointer;
}

.submit-btn:hover {
  transition: all ease-in-out 300ms;
  background-color: white;
  color: rgb(255, 222, 173);
}

/* sidebar */
.section {
  display: flex;
}
.section .sidebar {
  width: 20vw;
  height: 90vh;
  background-color: rgb(255, 222, 173);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.section .sidebar ul > a {
  display: block;
  margin-top: 30px;
  padding: 1rem 2rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.section .sidebar ul > a:hover {
  font-weight: bold;
}
.section .categories-page {
  max-height: 90vh;
  width: 80vw;
  padding: 5rem 10rem;
  overflow-y: scroll;
}
.section .categories-page .category-section {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.section .categories-page .category-section > * {
  flex: 1 0 auto;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}
.signup {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./assets/background.jpg");
  background-size: cover;
}
.signup .container {
  background-color: white;
  border-radius: 70px;
  padding: 5rem 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.signup .container a {
  font-size: 13px;
  font-style: italic;
}
.signup .container .card-body {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup .container .card-body h2 {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: -3rem;
}
.signup .container .card-body .form {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.signup .container .card-body .form > label {
  display: flex;
  flex-direction: column;
}
.signup .container .card-body .form > label [class$=-p] {
  margin-bottom: 0.5rem;
}
.signup .container .card-body .form > label .inp {
  font-size: 18px;
  width: 18rem;
  height: 2rem;
  border-top: none;
  border-left: none;
  border-right: none;
}
.signup .container .card-body .form > label .inp:hover {
  border-bottom: 2px solid rgb(255, 222, 173);
}
.signup .container .card-body .form > label .inp:focus {
  padding-left: 2px;
  outline: none;
}
.signup .container .card-body .form .pass-box {
  display: flex;
  gap: 0.5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.hero-section {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
.hero-section .highlight {
  background-color: rgba(255, 222, 173, 0.7);
  padding: 1rem 2rem;
  border-radius: 25px;
  color: black;
  margin-bottom: 20px;
}
.hero-section .bg-img {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
  top: 0;
  background-image: url("./assets/landing.jpg");
  background-size: cover;
  background-position: center;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Navbar.css */
nav {
  background-color: rgba(255, 222, 173, 0.7);
  color: black;
  padding: 15px 0;
  width: 100%;
  height: 10vh;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.logo .logo-img {
  width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav-links li {
  margin-right: 20px;
}
.nav-links li:last-child {
  margin-right: 0;
}
.nav-links a {
  color: black;
  text-decoration: none;
  transition: font-size 0.3s ease;
  cursor: pointer;
}
.nav-links a:hover {
  font-size: 20px;
  font-weight: bold;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.open .bar:nth-child(2) {
  opacity: 0;
}
.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 900px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 222, 173, 0.7);
    padding: 30px;
    z-index: 1;
    gap: 25px;
  }
  .nav-links li {
    font-size: 20px;
  }
  .nav-links.open {
    display: flex;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 2;
  }
}
/* Dashboard */
.dashboard .hero-section {
  color: black;
}

/* Category */
.upload-page {
  flex: 1;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.upload-page h2 {
  color: #333;
  margin-bottom: 20px;
}
.upload-page form .img-up-container {
  display: flex;
  justify-content: space-between;
}
.upload-page form div {
  margin-bottom: 20px;
}
.upload-page form div label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}
.upload-page form div input[type=text],
.upload-page form div textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
}
.upload-page form div input[type=text]:focus,
.upload-page form div textarea:focus {
  outline: none;
  border-color: rgb(255, 222, 173);
}
.upload-page form div input[type=file] {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
}
.upload-page form div input[type=file]:focus {
  outline: none;
  border-color: rgb(255, 222, 173);
}
.upload-page form .submit-btn {
  margin-top: 0;
  margin-bottom: 10px;
}
.upload-page form .remove-button {
  background-color: rgba(255, 44, 44, 0.68);
}
.upload-page form .remove-button:hover {
  background-color: white;
  color: rgba(255, 44, 44, 0.68);
  border: 1px solid rgba(255, 44, 44, 0.68);
}

@media only screen and (max-width: 600px) {
  form div label {
    font-size: 14px;
  }
  form div input[type=text],
  form div textarea,
  form div input[type=file] {
    font-size: 14px;
  }
  form div button {
    font-size: 14px;
  }
}
.delete {
  background-color: #fc6060;
  margin: 0;
}

/*# sourceMappingURL=App.css.map */
